.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links-container a {
  margin-left: 3vw;
  margin-right: 3vw;
  flex-basis: 22vw;
  text-align: center;
  margin-top: 60px;
  line-height: 80px;
}
.box-container {
  padding-top: 4px;
  border: 1px solid black;
  line-height: -20px;
}
