.paragrafo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 2rem;
  align-items: center;
}

.paragrafo img {
  max-width: 100%;
  height: auto;
}

.paragrafo figcaption {
  grid-column: 1 / -1;
}

.padding-text-figcaption{
  width: 42.3vw;
}