.estoque-container {
  background-color: whitesmoke;
}

.estoque-container section:nth-of-type(even) {
  background-color: whitesmoke;
  padding: 30px;
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
}

.section-un{
  background-color: red;
}

.testeGrid{
  display: flex;
}

.estoque-container section:nth-of-type(odd) {
  background-color: #023535;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  height: 16vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section-estoque {
  display: flex;
  margin-top: 0.6rem;
  text-align: justify;
  font-size: 1.1em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-space-left {
  margin-left: 8px;
  margin-right: 8px;
  width: 50vw;
  display: flex;
  align-items: center;
  white-space: pre-line;
}

.text-space-right {
  margin-right: 8px;
  width: 50vh;
  display: flex;
  align-items: center;
}

.section-un .img-enlargable {
  max-width: 60vw;
}

.section-cad-produto .img-enlargable {
  display: flex;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.section-cad-produto p {
  text-align: center;
}

.section-mat-final .img-enlargable {
  max-width: 60vw;
  clip-path: inset(0.5% 20% 8% 0.2% round 10px);
}

.warn-text{
  background-color: #ffbb33;
  width: 90vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 10px;
}
