.AlunoMatri-container{
    background-color: whitesmoke;
}

section:nth-of-type(even) {
    background-color: whitesmoke; /* cor branca */
    padding: 30px;
  }
  
  section:nth-of-type(odd) {
    background-color: #023535;
    color: white;
    padding: 30px;
  }

  .title-container{
    display: flex;
    flex-direction: column;
    height: 16vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

.section-aluno {
    display: flex;
    margin-top: 0.6rem;
    text-align: justify;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-space-left{
    margin-left: 8px;
}

.text-space-right{
    margin-right: 8px;
}

.section-aluno .img-enlargable{
    max-width: 60vw;
}

.section-img-mat .img-enlargable{
    display: flex;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.section-img-mat p{
    text-align: center;
}

.section-mat-final{
    display: flex;
    align-items: center;
    margin-left: 130px;
    margin-right: 105px;
}

.section-mat-final p{
    margin-left: -128px;
    text-align: justify;
    max-width: 30vw;
    font-size: 1.1em;
}

.section-mat-final .img-enlargable{
    max-width: 60vw;
    clip-path: inset(0.5% 20% 8% 0.2% round 10px);
}

.section-cadastro{
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: justify;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    height: 100%;   
}

.section-cadastro .img-enlargable{
    max-width: 60vw;
}