@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-container {
  background-color: #17252a;
  height: 40px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
}

.nav-menu li {
  height: 40px;
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
}

.link-style {
  display: block;
  height: 100%;
  /* background-color: red; */
}

.color-link {
  color: #feffff !important;
  text-decoration: none;
  font-size: 1.1em;
}
